@use "../../../assets/styles/mediaQuerys.scss";
@use "../../../assets/styles/fonts.scss";
@use "../../../assets/styles/functions.scss";

.lang-Box {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 132px;
  margin: 10px auto;

  @include mediaQuerys.mobile {
    width: 35.2vw;
    margin: 2.667vw auto;
  }
}

.img-bg {
  align-items: center;
  justify-content: center;
  display: flex;
  width: 32px;
  height: 32px;
  background: #001e28;
  border: 1px solid #093948;
  border-radius: 100px;
  cursor: pointer;
  opacity: 0.4;

  @include mediaQuerys.mobile {
    width: 8.533vw;
    height: 8.533vw;
    border: 0.2667vw solid #093948;
    border-radius: 26.667vw;
  }

  &.active {
    opacity: 1;
  }
}
.footer__mainContent {
  background: #00141e;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;

  @include mediaQuerys.mobile {
    padding: 0 3vw;
  }
}
.footer__mainContent-leftBox {
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: start;
}
.footer__mainContent-leftBox .leftBoxes {
  display: flex;
  flex-direction: column;
  align-items: start;
}
.footer__mainContent-leftBox .leftBoxes h2 {
  font-size: 14px;
  color: #ffffff;

  @include mediaQuerys.mobile {
    padding: 0 3vw;
    font-size: 3.733vw;
  }
}
