@use "../../../assets/styles/common.scss";

.topGamesSection {
  width: 100%;
  margin: 0 auto;

  &__wrap {
    width: 87%;
    height: 90%;
    margin: 25px auto 0 auto;
    position: relative;
    // background-color: darkblue;

    &-title {
      padding-top: 20px;
      gap: 10px;
      display: flex;
      justify-content: start;
      align-items: center;
      flex-wrap: nowrap;

      span {
        font-size: 22px;
        color: #fff;
        padding-left: 10px;
      }
      a {
        font-size: 14px;
        color: rgb(0 255 109);
        background: #3b82f680;
        padding: 5px 10px;
        border-radius: 5px;
      }
    }
    &-gamesBox {
      margin-top: 10px;
      height: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      padding: 10px 5px;
    }
  }
}
.card {
  position: relative;
  width: 234.75px;
  height: 365.156px;
  //   overflow: hidden;
  transition: 0.4s ease-in-out;
  cursor: pointer;
  border-radius: 10px;

  &__inside {
    position: relative;
    width: 100%;
    height: 100%;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 10px;
    }

    .hiddenTitle {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      padding: 10px;
      background: rgba(0, 0, 0, 0.7);
      color: #fff;
      text-align: center;
      opacity: 0;
      visibility: hidden;
      transition: opacity 0.3s ease, visibility 0.3s ease;
    }

    .playButton {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 50px;
      height: 50px;
      background-color: green;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 4px;
      opacity: 0;
      visibility: hidden;
      transition: opacity 0.3s ease, visibility 0.3s ease;

      &::before {
        content: "";
        display: block;
        width: 0;
        height: 0;
        border-left: 15px solid black;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
      }
    }
  }

  &:hover {
    background: rgba(0, 0, 0, 0.5);

    .hiddenTitle,
    .playButton {
      opacity: 1;
      visibility: visible;
    }
  }
}
.topGamesSection__swiper {
  width: 100%;
  margin: 0 auto;
  position: relative;
}
.topGamesSection__swiper .swiper {
  width: 100%;
  position: relative;
}

.topGamesSection .topGames-swiper-button-next {
  position: absolute;
  right: 103px;
  top: 45%;
  display: flex;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #000000b3;
  align-items: center;
  justify-content: center;
  color: white;
  z-index: 10;
  font-size: 20px;
  cursor: pointer;
}

.topGamesSection .topGames-swiper-button-prev {
  position: absolute;
  left: 17px;
  top: 45%;
  display: flex;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #000000b3;
  align-items: center;
  justify-content: center;
  color: white;
  z-index: 10;
  font-size: 20px;
}

.topGames-swiper-button-next {
  transform: rotate(180deg);
  cursor: pointer;
}
.topGamesSection .topGames-swiper-button-prev .swiper-button-disabled {
  visibility: hidden;
}
.newGamesSection {
  width: 215.594px;
  height: 138.594px;
  position: relative;
}

.newGamesSection__inside img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}
.newGamesSection__inside {
  width: 100%;
  height: 100%;

  .newGames__title {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;
    z-index: 10;
  }
  span:nth-child(1) {
    padding: 2px 4px;
    border-radius: 2px;
    margin-left: 2px;
    background: rgb(233, 170, 55);
    text-shadow: 0 0 10px #000;
    font-size: 10px;
    line-height: 10px;
    color: rgb(255 255 255);
  }
}
.newGamesSection__title {
  padding-top: 20px;
  padding-left: 80px;
  gap: 10px;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-wrap: nowrap;
}
.newGamesSection__title span {
  font-size: 22px;
  color: #fff;
  padding-left: 10px;
}
.newGamesSection__title a {
  font-size: 14px;
  color: rgb(0, 255, 109);
  background: rgba(59, 130, 246, 0.5019607843);
  padding: 5px 10px;
  border-radius: 5px;
}

.NewGamesSwiper,
.buyBonusSection,
.megaWays,
.ci_interactive {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px 5px;
  margin: 10px auto 0 auto;
  position: relative;
}

.NewGamesSwiper .NewGames-swiper-button-next,
.buyBonusSection .buyBonus-swiper-button-next,
.megaWays .megaWays-swiper-button-next,
.ci_interactive .ci_interactive-button-next {
  position: absolute;
  right: 100px;
  top: 40%;
  display: flex;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: #000000b3;
  align-items: center;
  justify-content: center;
  color: white;
  z-index: 10;
  font-size: 20px;
  cursor: pointer;
  transform: rotate(180deg);
}

.NewGamesSwiper .NewGames-swiper-button-prev,
.buyBonusSection .buyBonus-swiper-button-prev,
.megaWays .megaWays-swiper-button-prev,
.ci_interactive .ci_interactive-button-prev {
  position: absolute;
  left: 17px;
  top: 40%;
  display: flex;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: #000000b3;
  align-items: center;
  justify-content: center;
  color: white;
  z-index: 10;
  font-size: 20px;
  cursor: pointer;
}
.newgameSBox {
  background-image: url(./TopGamesIMg/bg-egt-hor.avif);
  background-repeat: no-repeat;
  background-size: 100%;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}
.NewGamesSwiper .swiper,
.buyBonusSection .swiper {
  width: 90%;
  position: relative;
}

.megawasBox {
  background-image: url(./TopGamesIMg/bg-pragmatic-hor.avif);
  background-repeat: no-repeat;
  background-size: 100%;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}
.megaWays .swiper,
.ci_interactive .swiper {
  width: 90%;
  position: relative;
}
