@use "../../../assets/styles/mediaQuerys.scss";

.CardGame {
  position: relative;
}
.cardGame h1 {
  color: #fff;
  font-size: 25px;
  font-weight: bold;
  text-align: center;

  @include mediaQuerys.mobile {
    font-size: 4vw;
  }
}

.cardGame__Container {
  width: 800px;
  height: 700px;
  border-radius: 30px;
  background: linear-gradient(
    180deg,
    rgba(205, 39, 250, 0.7) 0%,
    rgba(64, 60, 208, 0.7) 100%
  );
  backdrop-filter: blur(10px);
  margin: 20px auto;
  padding: 15px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include mediaQuerys.mobile {
    width: 90%;
    height: 90%;
    border-radius: 4.267vw;
    padding: 1.5vw;
  }
}
.cardGame__rule {
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  color: #ffffff;
  margin-top: 15px;

  @include mediaQuerys.mobile {
    font-size: 4vw;
    margin-top: 5vw;
  }
}

.cardGame__rule .cross {
  width: 22px;
  height: 20px;
  display: inline-block;
  background-size: contain;
  vertical-align: middle;
  margin: 0 5px 0 5px;
  background-image: url(./cardgame-img/cross.svg);
  background-repeat: no-repeat;
  background-size: 100%;

  @include mediaQuerys.mobile {
    width: 5.8vw;
    height: 5.3vw;
    margin: 0 1.3vw 0 1.3vw;
  }
}

.card__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 20px;
  gap: 10px;
  width: 530px;
  height: 580px;

  @include mediaQuerys.mobile {
    width: 95%;
    height: 95%;
    gap: 2.5vw;
  }
}
.card__container .cardGame__card {
  width: 100px;
  height: 155px;
  padding: 10px;
  border-radius: 10px;
  position: relative;

  @include mediaQuerys.mobile {
    width: 20vw;
    height: 25vw;
    padding: 2.5vw;
    border-radius: 2.5vw;
  }
}
.card__container .cardGame__card .backCard.active {
  visibility: visible;
}
.card__container .cardGame__card .backCard {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 50px;
  line-height: 120px;
  cursor: pointer;
  color: #6d1124;
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  background: #e7e7e7;
  border-radius: 10px;

  @include mediaQuerys.mobile {
    font-size: 10vw;
    line-height: 24vw;
    border-radius: 2.5vw;
  }
}
.card__container .cardGame__card .frontCard.active {
  visibility: visible;
}
.card__container .cardGame__card .frontCard {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  background: #e7e7e7;
  border-radius: 10px;

  @include mediaQuerys.mobile {
    border-radius: 2.5vw;
  }
}
