.css-95f9g5-MuiToolbar-root {
  background: rgb(33 38 69) !important;
  background-color: rgb(33 38 69) !important;
}

@media (min-width: 600px) {
  .css-95f9g5-MuiToolbar-root {
    min-height: 70px !important;
  }
}
.css-96uuyl {
  border-radius: 100px;
}
