@font-face {
  font-family: "AdjaraLight";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/AdjaraMontPro-Light.woff2"),
    url("../fonts/AdjaraMontPro-Light.woff"),
    url("../fonts/AdjaraMontPro-Light.otf");
}

@font-face {
  font-family: "AdjaraRegular";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/AdjaraMontPro-Regular.woff2"),
    url("../fonts/AdjaraMontPro-Regular.woff"),
    url("../fonts/AdjaraMontPro-Regular.otf");
}

@font-face {
  font-family: "AdjaraBold";
  font-style: bold;
  font-weight: bold;
  src: url("../fonts/AdjaraMontPro-Bold.woff2"),
    url("../fonts/AdjaraMontPro-Bold.woff"),
    url("../fonts/AdjaraMontPro-Bold.otf");
}

@font-face {
  font-family: "AdjaraSemiBold";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/AdjaraMontPro-SemiBold.woff2"),
    url("../fonts/AdjaraMontPro-SemiBold.woff"),
    url("../fonts/AdjaraMontPro-SemiBold.otf");
}

@font-face {
  font-family: "AdjaraHeavy";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/AdjaraMontPro-Heavy.woff2"),
    url("../fonts/AdjaraMontPro-Heavy.woff"),
    url("../fonts/AdjaraMontPro-Heavy.otf");
}

@font-face {
  font-family: "FontExtraBold";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/AdjaraMontPro-Bold.woff2"),
    url("../fonts/AdjaraMontPro-Bold.woff"),
    url("../fonts/AdjaraMontPro-Bold.otf");
}

@font-face {
  font-family: "FontRegular";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/AdjaraMontPro-Regular.woff2"),
    url("../fonts/AdjaraMontPro-Regular.woff"),
    url("../fonts/AdjaraMontPro-Regular.otf");
}
