@use "../../../assets/styles/mediaQuerys.scss";

.winterVeil {
  padding-bottom: 50px;
  background: #8b0828;
  background: transparent url(./winter-img/ice-web-en.webp) no-repeat 50%;
  background-position: top center;
  padding-bottom: 50px;
}

.winterVeil .container {
  width: 940px;
  margin: 0 auto;
  margin-top: 69px;
  position: relative;
  padding-top: 680px;
  z-index: 10;

  @include mediaQuerys.mobile {
    width: 100%;
    background: transparent url(./winter-img/mob-en.webp) no-repeat 50%;
    background-size: 100%;
    padding-bottom: 40vw;
    background-position: top -24px center;
    background-color: #000000;
    padding-top: 170vw;
  }
}

.winterVeil .container__header {
  width: 353px;
  height: 120px;
  margin: 50px auto 20px auto;
  background-image: url(./winter-img/offerHeader.png);
  background-repeat: no-repeat;
  background-size: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  @include mediaQuerys.mobile {
    //
  }
}

.container .container__tree {
  background-image: url(./winter-img/dem-treee.png);
  background-repeat: no-repeat;
  background-size: 100%;
  width: 37.234%;
  height: 490px;
  margin: 0 auto;
  background-position: top 10px center;
  position: relative;

  @include mediaQuerys.mobile {
    width: 80.234%;
    height: 113vw;
  }
}
.tree__box {
  position: absolute;
  bottom: 0;
  width: 29px;
  height: 33px;
  background-image: url(./winter-img/1.svg);
  background-repeat: no-repeat;
  background-size: cover;
  display: none;
  animation: firstBox 1.5s ease-in-out forwards;

  @include mediaQuerys.mobile {
    width: 7.733vw;
    height: 8.8vw;
  }
}

.tree__box.visible {
  display: block;
}

.tree__box.hidden {
  display: none;
}

.tree__box:first-child {
  animation: secondBox 1.5s ease-in-out forwards;
}

.tree__box:nth-child(2) {
  animation: secondBox 1.5s ease-in-out forwards;
}

.tree__box:nth-child(3) {
  animation: thirdBox 1.5s ease-in-out forwards;
}

.tree__box:nth-child(4) {
  z-index: 1;
  animation: fourBox 1.5s ease-in-out forwards;
}

.tree__box:nth-child(5) {
  z-index: 2;
  animation: fiveBox 1.5s ease-in-out forwards;
}

.tree__box:nth-child(6) {
  bottom: 60px;
  left: 220px;
  animation: sixBox 1.5s ease-in-out forwards;
}

.tree__box:nth-child(7) {
  animation: sevenBox 1.5s ease-in-out forwards;
}

.tree__box:nth-child(8) {
  animation: eightBox 1.5s ease-in-out forwards;
}

.tree__box:nth-child(9) {
  animation: nineBox 1.5s ease-in-out forwards;
}

.tree__box:nth-child(10) {
  animation: tenBox 1.5s ease-in-out forwards;
}

/* Keyframes for each box */
@keyframes firstBox {
  0% {
    bottom: -175px;
    left: 270px;
  }
  100% {
    bottom: 11px;
    left: 160px;
  }
}

@keyframes secondBox {
  0% {
    bottom: -175px;
    left: 270px;
  }
  100% {
    bottom: 16px;
    left: 66px;
  }
}

@keyframes thirdBox {
  0% {
    bottom: -175px;
    left: 270px;
  }
  100% {
    bottom: 15px;
    left: 90px;
  }
}

@keyframes fourBox {
  0% {
    bottom: -175px;
    left: 270px;
  }
  100% {
    bottom: 15px;
    left: 121px;
  }
}

@keyframes fiveBox {
  0% {
    bottom: -175px;
    left: 270px;
  }
  100% {
    bottom: 16px;
    left: 109px;
  }
}

@keyframes sixBox {
  0% {
    bottom: -175px;
    left: 270px;
  }
  100% {
    bottom: 13px;
    left: 149px;
  }
}

@keyframes sevenBox {
  0% {
    bottom: -175px;
    left: 270px;
  }
  100% {
    bottom: 13px;
    left: 202px;
  }
}
@keyframes eightBox {
  0% {
    bottom: -175px;
    left: 270px;
  }
  100% {
    bottom: 13px;
    left: 223px;
  }
}
@keyframes nineBox {
  0% {
    bottom: -175px;
    left: 270px;
  }
  100% {
    bottom: 13px;
    left: 247px;
  }
}
@keyframes tenBox {
  0% {
    bottom: -175px;
    left: 270px;
  }
  100% {
    bottom: 13px;
    left: 178px;
  }
}

.container__tree .tree__carpet {
  position: absolute;
  width: 226px;
  height: 11px;

  background-color: #281d17;
  left: 0;
  right: 0;
  bottom: 5px;
  margin: 0 auto;

  @include mediaQuerys.mobile {
    width: 60vw;
    height: 2.933vw;
    bottom: 1.33vw;
  }
}

.progress-bar-container {
  position: relative;
  width: 80%;
  height: 25px;
  background: #ddd;
  border-radius: 5px;
  overflow: hidden;
  margin: 10px auto 5px auto;

  @include mediaQuerys.mobile {
    width: 80%;
    height: 8.8vw;
  }
}

.progress-bar {
  height: 100%;
  border-radius: 0 10px 10px 0;
  position: relative;
  background-image: url(./winter-img/wager-img.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left center;
  transition: ease-in-out 0.8s;

  @include mediaQuerys.mobile {
    height: 100%;
    border-radius: 0 3.333vw 3.333vw 0;
  }
}

.progress-bar-amount {
  position: absolute;
  top: -25px;
  transform: translateX(-50%);
  font-size: 12px;
  font-weight: bold;
  color: #000;

  @include mediaQuerys.mobile {
    top: -6.67vw;
    font-size: 3.2vw;
  }
}

.progress-bar-value {
  margin: 20px auto;
  width: 150px;
  display: flex;
  flex-direction: column;
  font-size: 15px;
  color: #fff;

  @include mediaQuerys.mobile {
    width: 40vw;
    margin: 5.33vw auto;
    font-size: 4vw;
  }
}
.progress-bar-value .valueBox {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.valueBox .valueLogo {
  height: 50px;

  @include mediaQuerys.mobile {
    height: 13.333vw;
  }
}
.container .valueTitle {
  margin: 5px;
  padding: 5px;
  color: #fff;
  font-size: 15px;
  font-weight: 700;
  display: flex;
  justify-content: flex-start;
  width: 80%;
  margin: 0 auto;

  @include mediaQuerys.mobile {
    font-size: 4vw;
    margin: 1.33vw;
    padding: 1.33vw;
    margin-left: 15vw;
  }
}

.progress-bar-label {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
  width: 80%;
  margin: 0 auto;
  color: #fff;
  font-size: 15px;

  @include mediaQuerys.mobile {
    font-size: 4vw;
    margin-top: 1.33vw;
  }
}
.progress-bar span {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-top: 3px;
  padding-right: 2px;
  color: #180404;
  font-weight: bolder;
  font-size: 20px;

  @include mediaQuerys.mobile {
    font-size: 5.333vw;
  }
}
.container .container__claimBtn {
  width: 244px;
  height: 46px;
  border-radius: 24.5px;
  border: 1px solid #414a5e;
  background: #5a8359;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px auto 10px auto;
  color: #ffff;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;

  @include mediaQuerys.mobile {
    width: 85%;
    border-radius: 6.533vw;
    font-size: 4.8vw;
    margin: 6.67vw auto 1.33vw auto;
  }

  &.deactive {
    pointer-events: none;
    opacity: 0.5;
  }
}

.container .container__wager {
  border-radius: 29px;
  border: 2px solid #414a5e;
  background: #3a7077;
  width: 50%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 25px;
  overflow: hidden;
  padding-bottom: 20px;

  @include mediaQuerys.mobile {
    width: 85%;
    border-radius: 7.733vw;
    border: 0.533vw solid #414a5e;
    margin-top: 6.67vw;
    padding-bottom: 5.33vw;
  }
}
.container__wage-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #292f3d;
  width: 100%;
  padding: 20px 0;

  @include mediaQuerys.mobile {
    padding: 2.67vw 0;
  }
}
.container__wage-header span {
  color: #fff;
  font-size: 17px;
  font-weight: bold;

  @include mediaQuerys.mobile {
    font-size: 4.533vw;
  }
}
.container__wage-header .myPrizeBox {
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include mediaQuerys.mobile {
    font-size: 3.2vw;
  }
}
.container__wage-header .myPrizeBox .wagerPrizeIcon {
  background-image: url(./winter-img/1.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  width: 29px;
  height: 33px;
  margin-left: 5px;
  position: relative;
  z-index: 2;

  @include mediaQuerys.mobile {
    width: 7.733vw;
    margin-left: 1.33vw;
    height: 8.8vw;
  }
}
.container__wage-header .myPrizeBox .wagerPrize-amount {
  border-radius: 12.5px;
  border: 1px solid #555f74;
  background: #1d212a;
  width: 57px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -15px;

  @include mediaQuerys.mobile {
    width: 15.2vw;
    height: 6.67vw;
    margin-left: -4vw;
  }
}

.container .prizes-img {
  margin: 20px auto;
  width: 341px;
  height: 202px;

  @include mediaQuerys.mobile {
    width: 90vw;
    height: 53.333vw;
  }
}

.container .prizes-img img {
  width: 100%;
  height: 100%;
}

.container .openPrizesBtn {
  width: 244px;
  height: 46px;
  border-radius: 24.5px;
  border: 1px solid #414a5e;
  background: #54b152;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px auto 10px auto;
  color: #ffff;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;

  @include mediaQuerys.mobile {
    width: 85%;
    border-radius: 6.533vw;
    font-size: 4.8vw;
    margin: 6.67vw auto 1.33vw auto;
  }
}

.container .myPryzesIcon {
  margin: 30px auto;
  display: flex;
  justify-content: center;
  align-items: center;

  @include mediaQuerys.mobile {
    margin: 28vw auto;
    width: 60%;
    height: 10vw;
  }
}
