@use "../../../assets/styles/mediaQuerys.scss";

.weekGamesBox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 940px;
  margin: 20px auto;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  border: 1px solid rgb(58, 8, 58);

  @include mediaQuerys.mobile {
    width: 100%;
    margin: 5.33vw auto;
    border-radius: 2.33vw;
    border: none;
  }

  &__animationBG {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    @include mediaQuerys.mobile {
      width: 100%;
    }

    img {
      height: 600px;
      object-fit: cover;
      height: 100%;

      @include mediaQuerys.mobile {
        height: 50vw;
      }
    }

    .game-of-the-week-background {
      content: "";
      position: absolute;
      z-index: 0;
      background: url(./weekgamesImg/animation.png) no-repeat;
      background-position: 50%;
      background-size: 150% 150%;
      transform: rotate(0deg);
      animation: rotate 12s linear infinite;
      overflow: hidden;
    }

    .opacity-30 {
      opacity: 0.3;
    }

    .w-\[120\%\] {
      width: 120%;

      @include mediaQuerys.mobile {
        width: 86%;
      }
    }

    .aspect-1 {
      aspect-ratio: 1;
    }

    @keyframes rotate {
      to {
        transform: rotate(1turn);
      }
    }
    .weekofGame {
      position: absolute;
      width: 480px;
      height: 308px;

      @include mediaQuerys.mobile {
        width: 100%;
        height: 40vw;
      }

      .weekofGame__img {
        object-fit: fill;
        height: 286px;
        border-radius: 10px;

        @include mediaQuerys.mobile {
          height: 40vw;
        }

        img {
          display: flex;
          justify-content: center;
          align-items: center;
          margin: 0 auto;

          @include mediaQuerys.mobile {
            height: 40vw;
          }
        }
      }
      .weekGamesBox__animationBG img {
        display: block;
      }
      @media (max-width: 940px) {
        .weekGamesBox__animationBG img {
          content: url("./weekgamesImg/game-of-mob.webp");
        }
      }
    }
  }
}
