@use "../../../assets/styles/mediaQuerys.scss";

.redeem-container {
  width: 500px;
  height: auto;
  margin: 0 auto;
  border-radius: 8px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  background: linear-gradient(153.65deg, #1a6c52 17.38%, #000906 75.84%);
  border: 1px solid #afa68ecc;

  @include mediaQuerys.mobile {
    width: 95%;
    border-radius: 2.133vw;
    padding: 3vw;
  }
}
.redeem-container .EgtRedeem {
  margin: 10px auto;
  color: #fff;
  font-size: 30px;
  font-weight: bold;

  @include mediaQuerys.mobile {
    margin: 2.66vw auto;
    font-size: 6vw;
  }
}

.redeem-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  background: linear-gradient(179.55deg, #6ba38b 0.39%, #0c180f 54.71%);
  width: 99%;
  border-radius: 8px;

  @include mediaQuerys.mobile {
    padding: 1.33vw;
    border-radius: 2.133vw;
  }
}

.redeem-header h2 {
  margin: 0 auto;
  color: #fff;
  font-size: 25px;
  font-weight: bold;

  @include mediaQuerys.mobile {
    font-size: 6.33vw;
  }
}

.close-btn {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: #fff;

  @include mediaQuerys.mobile {
    font-size: 6vw;
  }
}

.redeem-form {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;

  @include mediaQuerys.mobile {
    gap: 2.133vw;
  }
}

.redeem-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 318px;
  height: 48px;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #fff;
  transition: opacity 0.3s ease;
  background: #455b4c;

  @include mediaQuerys.mobile {
    width: 84.8vw;
    height: 12.8vw;
    padding: 2.133vw;
  }
}

.redeem-item input {
  margin-right: 8px;

  @include mediaQuerys.mobile {
    margin-right: 2.133vw;
  }
}

.redeem-image {
  width: 110px;

  @include mediaQuerys.mobile {
    width: 29.33vw;
  }
}

.redeem-footer {
  width: 70%;
  margin: 20px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;

  @include mediaQuerys.mobile {
    width: 92%;
    margin: 5.33vw auto;
  }
}

.redeem-title {
  text-transform: uppercase;
  color: #fff;
  font-weight: bold;
  font-size: 14px;

  @include mediaQuerys.mobile {
    font-size: 3.73vw;
  }
}
.redeem-footer p span {
  text-transform: uppercase;

  @include mediaQuerys.mobile {
    font-size: 3.9vw;
  }
}

.redeem-button {
  padding: 8px 16px;
  // margin: 20px auto;
  border-top: 1px solid #ffad148c;
  background: linear-gradient(152.72deg, #a86802 1.7%, #4b350a 114.52%);
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;

  @include mediaQuerys.mobile {
    padding: 2.133vw 4.266vw;
    // margin: 5.33vw auto;
  }
}
.redeem-button:hover {
  background: linear-gradient(152.72deg, #e99a1a 1.7%, #e7ba60 114.52%);
}

.redeem-button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
.popup {
  position: fixed;
  width: 350px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: linear-gradient(153.65deg, #1a6c52 17.38%, #000906 75.84%);
  border: 1px solid #afa68ecc;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @include mediaQuerys.mobile {
    width: 95%;
    border-radius: 2.133vw;
    padding: 3vw;
  }
}

.popup-title {
  margin: 0;
  color: #fff;
  font-size: 20px;
  margin: 10px;
  text-transform: uppercase;

  @include mediaQuerys.mobile {
    font-size: 5.33vw;
    margin: 2.66vw;
  }
}

.popup-image {
  max-width: 100%;
  max-height: 100%;

  @include mediaQuerys.mobile {
    height: 20vw;
  }
}

.popup-close-button {
  margin: 20px auto;
  margin-bottom: 0;
  width: 120px;
  height: 46px;
  font-weight: bold;
  color: #261203;
  color: #fff;
  font-size: 18px;
  text-transform: uppercase;
  background: linear-gradient(180deg, #04b928 0%, #003401 100%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  border: none;
  outline: none;
  cursor: pointer;

  @include mediaQuerys.mobile {
    width: 31.9vw;
    height: 13.33vw;
    font-size: 4.8vw;
    margin: 5.33vw auto;
  }
}
.popup-close-button:hover {
  background: linear-gradient(180deg, #0ce037 0%, rgb(39, 173, 39) 100%);
}
.container__redeemBtn {
  display: flex;
  justify-content: center;
  margin: 20px auto;

  @include mediaQuerys.mobile {
    margin: 5.33vw auto;
  }
}
.container__redeemBtn button {
  width: 200px;
  height: 50px;
  color: white;
  border: none;
  border-radius: 7px;
  cursor: pointer;
  font-size: 20px;
  border-top: 1px solid #ffad148c;
  background: linear-gradient(152.72deg, #a86802 1.7%, #4b350a 114.52%);

  @include mediaQuerys.mobile {
    width: 52.6vw;
    height: 13.33vw;
    font-size: 4.8vw;
  }
}
.container__redeemBtn button:hover {
  background: linear-gradient(152.72deg, #e99a1a 1.7%, #e7ba60 114.52%);
}
