@use "../../../assets/styles/mediaQuerys.scss";

.dice-game {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cube {
  width: 100px;
  height: 100px;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 1s;
  margin-top: 10px;

  @include mediaQuerys.mobile {
    width: 20vw;
    height: 20vw;
    margin-top: 3vw;
  }
}

.cube.rolling {
  animation: rotate 1s infinite;
}

@keyframes rotate {
  0% {
    transform: rotateX(0deg) rotateY(0deg);
  }
  100% {
    transform: rotateX(360deg) rotateY(360deg);
  }
}

.cube div {
  position: absolute;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;

  @include mediaQuerys.mobile {
    width: 20vw;
    height: 20vw;
  }
}

.cube img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.front {
  transform: rotateY(0deg) translateZ(50px);

  @include mediaQuerys.mobile {
    transform: rotateY(0deg) translateZ(10vw);
  }
}

.back {
  transform: rotateY(180deg) translateZ(50px);

  @include mediaQuerys.mobile {
    transform: rotateY(180deg) translateZ(10vw);
  }
}

.right {
  transform: rotateY(90deg) translateZ(50px);

  @include mediaQuerys.mobile {
    transform: rotateY(90deg) translateZ(10vw);
  }
}

.left {
  transform: rotateY(-90deg) translateZ(50px);

  @include mediaQuerys.mobile {
    transform: rotateY(-90deg) translateZ(10vw);
  }
}

.top {
  transform: rotateX(90deg) translateZ(50px);

  @include mediaQuerys.mobile {
    transform: rotateX(90deg) translateZ(10vw);
  }
}

.bottom {
  transform: rotateX(-90deg) translateZ(50px);

  @include mediaQuerys.mobile {
    transform: rotateX(-90deg) translateZ(10vw);
  }
}

.diceGame__button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 5px;

  @include mediaQuerys.mobile {
    padding: 2.5vw 5vw;
    margin-top: 5vw;
  }
}

.diceNumber {
  color: #fff;
  font-size: 15px;
  height: 50px;
  width: 50px;
  background: yellow;
  color: #000;
  border-radius: 5px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;

  @include mediaQuerys.mobile {
    margin-top: 5vw;
    font-size: 6vw;
    border: 8px;
    // padding: 2vw;
    height: 10vw;
    border-radius: 2vw;
  }
}

.diceNumber {
  margin-top: 20px;
  font-size: 24px;
  font-weight: bold;

  @include mediaQuerys.mobile {
    margin-top: 5vw;
    font-size: 6vw;
  }
}
