@use "../../../assets/styles/common.scss";

.promoPage {
  margin-top: 70px;
  background-image: url(./PromoImg/bg@3x.avif);
  width: 100%;
  height: 450px;
  display: flex;
  flex-direction: column;
  align-items: start;
  text-align: center;
  padding: 10px 120px;
}

.promoTitle {
  color: #ffffff;
  font-size: 18px;
  padding-top: 10px;
}

.promoPage__swiper {
  width: 100%;
  height: 90%;
  margin: 25px auto 0 auto;
  position: relative;
}
.promoPage__swiper .swiper {
  width: 100%;
  height: 100%;
}
.promoPage .swiper-button-next::after,
.promoPage .swiper-button-prev::after {
  color: white;
  z-index: 10;
  font-size: 20px;
}

.promoPage .swiper-button-prev.swiper-button-disabled {
  visibility: hidden;
}
.promoPage .swiper-button-prev {
  left: 17px;
  top: 50%;
  display: flex;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #000000b3;
  align-items: center;
}
.promoPage .swiper-button-next {
  right: 17px;
  top: 50%;
  display: flex;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #000000b3;
  align-items: center;
}
